body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0033cc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    margin: 4px 0;
    width: 25px;
}

.nav.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav.responsive a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 20px;
    flex: 1;
}

#form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

#form-register h4 {
    margin-bottom: 20px;
    font-size: 24px;
}

.champ {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.champ div {
    margin-bottom: 15px;
}

input[type="text"], 
input[type="date"], 
input[type="email"], 
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0033cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #002299;
}

footer {
    background-color: #0033cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.link
{
    margin-top: 2%;
    text-align: end;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .menu-toggle {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
    }

    .nav.responsive {
        display: flex;
    }
}

@media (max-width: 480px) {
    #form-register {
        width: 90%;
    }
}